<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" (click)="collapsed = !collapsed">
      <span class="icon-bar" *ngFor="let iconBar of [1, 2, 3]"></span>
      </button>
      <a routerLink="/" class="navbar-brand">
        <img
        src="https://i.imgur.com/xBzxl2z.jpg"
        style="margin-top: -8px;"
        width="90">
      </a>
    </div>
    <div
      class="navbar-collapse"
      [class.collapse]="collapsed"
      (window:resize)="collapsed = true"
      appDropdown>
      <ul class="nav navbar-nav">

        <li 
          routerLinkActive="active"
          *ngIf="!isAuthenticated"
        >
          <a routerLink="/auth">Authenticate</a>
        </li>
        <li routerLinkActive="active">
          <a
            routerLink="list"
            (click)="collapsed = !collapsed"
          >List</a>
        </li>
        <li routerLinkActive="active">
          <a
            routerLink="quiz"
            (click)="collapsed = !collapsed"
          >Quiz</a>
        </li>
        <li
          routerLinkActive="active"
          *ngIf="isAuthenticated"
        >
          <a
            routerLink="add"
            (click)="collapsed = !collapsed"
          >Add</a>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li
          *ngIf="isAuthenticated"
        >
          <a
            style="cursor: pointer;"
            (click)="onLogout()"
          >Logout</a>
        </li>
        <li 
          class="dropdown"
          *ngIf="!isAuthenticated"
          appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;">Save Data</a></li>
            <li><a style="cursor: pointer;">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
